@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&family=Open+Sans+Condensed:wght@300&family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #efefef;
}
/*-----------------------------------------------------------
header
-------------------------------------------------------------*/

.first-page {
  background-image: url(../img/Fond-premiere-page.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.custom-header {
  width: 100vw;
  height: 120px;
  background-color: white;
  opacity: 85%;
  position: fixed;
  z-index: 1;
}

.navigation .logo {
  font-size: 60px;
  font-family: "Great Vibes";
  color: black;
  text-decoration: none;
}

.item-menu {
  font-size: 30px;
  margin: 25px;
  text-decoration: none;
  color: black;
  font-family: "Yanone Kaffeesatz";
}

.item-actif {
  color: #cdb2a8;
}

.item-menu:hover {
  color: #cdb2a8;
}

/* responsive header */

@media (max-width: 767px) {
  .navigation .logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item-menu {
    font-size: 22px;
    margin: 15px;
  }
}

/*----------------------------------------------------------------
premiere section page accueil
------------------------------------------------------------------*/

.title {
  position: absolute;
}

.scroll {
  position: absolute;
  left: 50%;
  top: 85vh;
}

.title-principal {
  position: absolute;
  top: 45vh;
  left: 5%;
}

.title-principal h1 {
  margin: 0;
  font-family: "Open Sans Condensed";
  background-color: black;
  color: white;
  font-size: 45px;
  padding: 0 30px;
}

.title-principal h2 {
  font-family: "Open Sans Condensed";
  background-color: black;
  color: white;
  font-size: 45px;
  padding: 0 30px;
}

/* responsive title principal */

@media (min-width: 576px) {
  .title-principal h1 {
    font-size: 55px;
  }
  .title-principal h2 {
    font-size: 55px;
  }
}

@media (min-width: 768px) {
  .title-principal h1 {
    font-size: 70px;
  }
  .title-principal h2 {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  .title-principal h1 {
    font-size: 80px;
  }
  .title-principal h2 {
    font-size: 80px;
  }
}

/*-----------------------------------------------------------------
seconde section page accueil
-------------------------------------------------------------*/

.section-1 {
  background-image: url(../img/forme-fond-projet-html-css.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 20px;
}

.section-1 h1 {
  font-weight: bold;
}

@media (min-width: 768px) {
  .section-1 {
    padding: 150px;
  }
}

.mt-cs-1 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.btn-primary-1 {
  color: #000;
  background-color: #cdb2a8;
  border-color: #fff;
  box-shadow: 1px 1px 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-primary-1:hover {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.section .text {
  text-align: justify;
}

.circle {
  border-radius: 20px;
}

.title-custom-1 {
  position: absolute;
  font-size: 70px;
  opacity: 25%;
  color: #caafa5;
  top: 107vh;
  left: 10vw;
  z-index: -2;
  line-height: 3rem;
}

@media (max-width: 1700px) {
  .title-custom-1 {
    display: none;
  }
}

/*-----------------------------------------------------------------
thrid section page accueil
-------------------------------------------------------------*/

.section-2 {
  background-color: #cdb2a8;
  padding: 20px;
}

.section-2 h1 {
  font-weight: bold;
}

@media (min-width: 768px) {
  .section-2 {
    padding: 150px;
  }
}

.mt-cs-2 {
  padding-top: 4rem !important;
}

.btn-primary-2 {
  color: #000;
  background-color: #efefef;
  border-color: #fff;
  box-shadow: 1px 1px 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-primary-2:hover {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.block-text-2 .text {
  text-align: justify;
}

.carousel-item img {
  width: 700px;
  height: 500px;
}

.title-custom-2 {
  position: absolute;
  font-size: 70px;
  opacity: 25%;
  color: black;
  top: 185vh;
  right: 0vw;
  z-index: 0;
  line-height: 3rem;
}

@media (max-width: 1700px) {
  .title-custom-2 {
    display: none;
  }
}

/*----------------------------------------------------------------
footer
--------------------------------------------------------------*/

.footer-custom {
  width: 100%;
  /* height: 140px; */
  background-color: white;
  opacity: 85%;
  margin: 0;
  padding: 0;
}

.site-footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-custom .info {
  color: black;
}
.logo-footer {
  font-size: 35px;
  font-family: "Great Vibes";
  color: black;
}

/* responsive footer */

@media (min-width: 300px) {
  .info h1 {
    font-size: 15px;
  }
  .info p {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .info h1 {
    font-size: 25px;
  }
  .info p {
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  .info h1 {
    font-size: 25px;
  }
  .info p {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .info h1 {
    font-size: 35px;
  }
  .info p {
    font-size: 14px;
  }
}

/*----------------------------------------------------------------
End
------------------------------------------------------------------*/