@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&family=Open+Sans+Condensed:wght@300&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body{
    width: 100vw;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: black;
    background-image: url(../img/contact-us-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*------------------------------------------------------------------------
header
---------------------------------------------------------------------------*/

.custom-header{
    width: 100vw;
    height: 120px;
    background-color: white;
    opacity: 85%;
    position: fixed, absolute;
    z-index: 1;
}

.navigation .logo{
    font-size: 60px;
    font-family: 'Great Vibes';
    color: black;
    text-decoration: none;
}

.item-menu{
    font-size: 30px;
    margin: 25px;
    text-decoration: none;
    color: black;
    font-family: 'Yanone Kaffeesatz';
}

.item-actif{
    color: #CDB2A8;
}

.item-menu:hover{
    color: #CDB2A8;
}

/* responsive header */

@media (max-width: 767px) {
    .navigation .logo{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item-menu{
        font-size: 22px;
        margin: 15px;

    }
}

/*------------------------------------------------------------------------
Contact Form
---------------------------------------------------------------------------*/

.site-content{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
}

@media (max-width: 768px) { 
    .site-content {
        padding-top: 100px;
    }
}

.custom-image{
    width: 100%;
    height: 100vh;
    margin: 0;
}

.btn-primary-1 {
    color: #000;
    background-color: #CDB2A8;
    border-color: #fff;
    box-shadow: 2px 2px 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-primary-1:hover{
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.title{
    font-family: 'Indie Flower';
    font-weight: bold;
}

.label-custom{
    font-weight: bold;
    font-size: 55px;
}

/* responsive title */

@media (min-width: 350px) { 
    .title {
        font-size: 40px;
    }
}

@media (min-width: 576px) { 
    .title {
        font-size: 50px;
    }
}
@media (min-width: 768px) { 
    .title {
        font-size: 45px;
        margin-top: 50px;
    }
}

@media (min-width: 992px) { 
    .title {
        font-size: 45px;
    }
}

@media (min-width: 1200px) { 
    .title {
        font-size: 55px;
    }
}

/*----------------------------------------------------------------
footer
--------------------------------------------------------------*/

.footer-custom{
    width: 100%;
    /* height: 140px; */
    background-color: white;
    opacity: 85%;
    margin: 0;
    padding: 0;
}

.site-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-custom .info{
    color: black;
}
.logo-footer{
    font-size: 35px;
    font-family: 'Great Vibes';
    color: black;
}

/*responsive header*/

@media (min-width: 300px) { 
    .info h1 {
        font-size: 15px;
    }
    .info p{
        font-size: 10px;
    }
}

@media (min-width: 500px) { 
    .info h1 {
        font-size: 25px;
    }
    .info p{
        font-size: 12px;
    }
}

@media (min-width: 1000px) { 
    .info h1 {
        font-size: 25px;
    }
    .info p{
        font-size: 14px;
    }
}

@media (min-width: 1200px) { 
    .info h1 {
        font-size: 35px;
    }
    .info p{
        font-size: 14px;
    }
}

/*-------------------------------------------------------------
End
------------------------------------------------------------*/